body{
  height:300vh;
  background: linear-gradient(45deg,  violet , dodgerblue, hotpink);
}

.popup-overlay{
  display:none;
  position:fixed;
  top:0;
  left:0;
  rigth:0;
  bottom:0;
  background-color:rgba(0,0,0,.5);
  width:100%;
  height:100%;
  text-align:center;
  padding:1rem;
  align-items:center;
  justify-content:center;
  .popup{
    display:inline-block;
    width:400px;
    min-height:200px;
    background-color:white;
    border-radius: 5px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:center;
    justify-content:center;
  }
}

p{
  flex: 0 1 100%;
  padding:0 1rem;
  margin:0;
  margin-top:1rem;
  font-family:sans-serif;
}

a.close,
a.submit{
  margin-top:0;
  display:inline-block;
  color:white;
  background-color:#673862;
  border-radius: 5px;
  padding: .25rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
  font-family: sans-serif;
  margin-right:1rem;
  &:last-of-type{
    margin-right:0;
  }
}